/* Modal overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  /* Modal content */
  .modal {
   
    padding: 20px;
    border-radius: 8px;
    max-width: 80%;
    max-height: 80%;
    position: relative;
  }
  
  /* Close button */
  .close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background: #b71c1c;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
   
    transition: background 0.3s, transform 0.3s;
  }

  